[
 {:url "https://github.com/clojure/clojure"}
 {:url "https://github.com/clojure/clojurescript"}
 {:url "https://github.com/clojure/clojure-clr"}
 {:url "https://github.com/dmiller/clojure-clr-next"}
 {:url "https://github.com/clojure-rs/ClojureRS"}
 {:url "https://github.com/glojurelang/glojure"}
 {:url "https://github.com/venantius/glojure"}
 {:url "https://github.com/pixie-lang/pixie"}
 {:url "https://github.com/Tensegritics/ClojureDart"}
 {:url "https://github.com/jank-lang/jank"}
 {:url "https://github.com/nakkaya/ferret"}
 {:url "https://github.com/schani/clojurec"}
 {:url "https://github.com/janet-lang/janet"}
 {:url "https://github.com/carp-lang/Carp"}
 {:url "https://github.com/babashka/babashka"}
 {:url "https://github.com/basilisp-lang/basilisp"}
 {:url "https://github.com/hylang/hy"}
 {:url "https://github.com/candid82/joker"}
 {:url "https://github.com/clojerl/clojerl"}
 {:url "https://github.com/hraberg/cljs2go"}
 {:url "https://github.com/wisp-lang/wisp"}
 {:url "https://github.com/squint-cljs/squint"}
 {:url "https://github.com/joinr/clclojure"}
 {:url "https://github.com/nooga/let-go"}
 {:url "https://github.com/tcard/gojure"}
 {:url "https://github.com/jlangch/venice"}
 {:url "https://github.com/phel-lang/phel-lang"}
 {:url "https://github.com/sigmasoldi3r/charon-lang"}
 {:url "https://github.com/artagnon/rhine-ml"}
 {:url "https://github.com/mll/clojure-rt"}
 {:url "https://github.com/austinzheng/Cormorant"}
 {:url "https://github.com/Toccata-Lang/toccata"}           ; https://github.com/jduey/toccata
 {:url "https://github.com/dundalek/liz"}
 {:url "https://github.com/Zelex/jo_clojure"}
 {:url "https://github.com/swadey/LispSyntax.jl"}
 {:url "https://github.com/dirkschumacher/llr"}
 {:url "https://github.com/chr15m/flk"}
 {:url "https://github.com/glycerine/zygomys"}
 {:url "https://github.com/ClojureHaxe/ClojureHaxe"}
 ]